<a href="https://colab.research.google.com/github/Sadash33/edd_1310_2021/blob/master/1octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Intro Python 3
### Variables
Tipo dinámico

In [10]:
escuela = ("FES Aragón")
print(escuela)
print("-------")
edad = 20
estatura = 1.170
fumador = False
frase = """
multiples 
líneas
y 
tipo
de 
dato
"""
print(frase)
nombre = "josé"
nombre_completo = "josé sosa cardenas"

FES Aragón
-------

multiples
líneas
y
tipo
de
dato

# Print
Se puede usar con: 
comas, 
signo más +
con format()
con el operador f""

In [9]:
# La coma genera un espacio
print(edad, nombre)

20 josé

In [12]:
# El + concatena variables 
print(nombre + str(edad))
print(nombre + nombre_completo)

josé20
joséjosé sosa cardenas

In [16]:
# Con formato -> Su nombre es jose y su edad es de 20 años
print("Su nombre es",nombre,"y su edad es de",edad,"años")
print("Su nombre es {0} y su edad es de {1} años".format(nombre,edad))
print("Su nombre es {1} y su edad es de {0} años".format(nombre,edad))

Su nombre es josé y su edad es de 20 años
Su nombre es josé y su edad es de 20 años
Su nombre es 20 y su edad es de josé años

In [17]:
# Con formato f"""
print(f"Su nombre es {nombre} y su edad es de {edad} años")

Su nombre es josé y su edad es de 20 años

# Carácter de escape
\n Salto de línea
\t Tabulador
\a Beep al ejecutar
\\" Imprimir comilla doble
\\' Imprimir comilla simple

In [19]:
"""
Comentario
de 
múltiple
línea
"""
print(f"\tMi nombre es\n\t\t {nombre}")

	Mi nombre es
		 josé

## Ayuda de tipos de dato en Python 
dir()
help()

In [ ]:
# Tipos de dato: str, float, bool, ... , list, dict, set
# Abrir help y dir en celdas únicas
# Click derecho borrar resultados XD
help(str)

In [25]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [26]:
print(nombre_completo.capitalize())
print(nombre_completo.upper(), end="-------")
print(nombre_completo.title())

José sosa cardenas
JOSÉ SOSA CARDENAS-------José Sosa Cardenas

# Clase String
Es manejada como un arreglo (C o Java) o lista (en Python) 
------------

In [28]:
telefono = "Huawei mate 30 pro"
print(telefono[0])
print(telefono[1])
print(telefono[2])
print(telefono[3])
print(telefono[4])
print(telefono[5])

H
u
a
w
e
i

#Slicing
----------
[init:stop:incremento]
----------
El stop no se incluye, termina en el valor anterior al stop

In [33]:
print(telefono[7:11:1])
# El inicio y el incremento son opcionales 
print(telefono[:11:])
# El valor por defecto de stop es len(string)
print(telefono[::])
#incremento negativo
print(telefono[::-1])
#Indices negativos
print(telefono[-3::1])

mate
Huawei mate
Huawei mate 30 pro
orp 03 etam iewauH
pro

# Funciones de String 
Existen métodos muy útiles en esta clase

In [45]:
Tamaño=len(facultad)
print(facultad)
# count cuenta el número de carácteres
facultad = "    facultad de estudios superiores aragon      "
print(facultad.count("u"))
# find encuenta el carácter deseado 
print(facultad.find("s"))
# strip elimina espacios (al principio y al final del string) y los saltos de línea
# lstrip y rstrip eliminan los espacios del lado izquiero y derecho respectivamente
print(facultad.strip())
# len cuenta los caracteres totales de la cadena 
print(len(facultad))
# split elimina los caracteres deseados
print(facultad)
print(facultad.strip().split(" "))

print("-----------")

# Copiar cadenas
otra_cadena = facultad
print(otra_cadena)
otra_cadena = "FES Aragón"
print(facultad)
print(otra_cadena)

    facultad de estudios superiores aragon
3
17
facultad de estudios superiores aragon
48
    facultad de estudios superiores aragon
['facultad', 'de', 'estudios', 'superiores', 'aragon']
-----------
    facultad de estudios superiores aragon
    facultad de estudios superiores aragon
FES Aragón

In [46]:
# Copiar listas
colores = ["rojo, verde"]
otra = colores.copy()
print(colores)
print(otra)
otra.append("rosa")
print(colores)
print(otra)

['rojo, verde']
['rojo, verde']
['rojo, verde']
['rojo, verde', 'rosa']