<a href="https://colab.research.google.com/github/Sadash33/edd_1310_2021/blob/master/6octubre_1310.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [10]:
numeros_txt = "    1,2, 3, 4    , 5  , 35   , 15  , 12"
print(numeros_txt)
numeros_txt = numeros_txt.lstrip().split(",")
print(numeros_txt)

for j in range(len(numeros_txt)):
  numeros_txt[ j ] = int(numeros_txt[j].strip())

print(numeros_txt) 

#Función range
#range(inicio, stop, incremento)

print(range(0, 10, 3))
rango = range(1,10,2)

for x in rango:
  print(x)

# Dandole un valor inicial

rango = range(10)
for x in rango:
  print(x)

    1,2, 3, 4    , 5  , 35   , 15  , 12
['1', '2', ' 3', ' 4    ', ' 5  ', ' 35   ', ' 15  ', ' 12']
[1, 2, 3, 4, 5, 35, 15, 12]
range(0, 10, 3)
1
3
5
7
9
0
1
2
3
4
5
6
7
8
9

#Listas
- Mutables
- Se declaran con [  ]
- Selector [ int ]
- Pueden ser de cualquier tipo de dato y combinado

#Tuplas
- No mutables
- Se declaran con ()
- Selector [ int ]

#Diccionarios
- Mutables
- Conjunto de pares llave:valor
- Equivalente a los objetos JSON de JS

#Conjuntos
- Representación de la teoría de conjuntos

In [19]:
#Lista

frutas = [ "Pera" , "Manzana" , "fresa" , "Kiwi" , "Naranja" ]
print(frutas)

cosas = [ "cuaderno" , 2 , 3.1416 , True , False , ["Rojo" , "Azul"] ]
print(cosas)

#Las listas son mutables

frutas[2] = "Fresa" #frutas[2] = frutas[2].capitalize()
print(frutas)

#Agregar a la lista
#Append agrega un elemento al final de la lista
frutas.append("Aguacate")
print(frutas)

#Insert agrega un elemento a la lista en donde se indique en el index "Insert(index, object)"
frutas.insert(2, "Sandia")
print(frutas)

#Concatenar listas
fecha = ["6" , "10" , "2020"] #06/10/2020
print(fecha)
fecha_str = "/".join(fecha)
print(fecha_str)

['Pera', 'Manzana', 'fresa', 'Kiwi', 'Naranja']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja']
['Pera', 'Manzana', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['Pera', 'Manzana', 'Sandia', 'Fresa', 'Kiwi', 'Naranja', 'Aguacate']
['6', '10', '2020']
6/10/2020

In [28]:
#Eliminar elementos 

cosas = [ "cuaderno" , 2 , 3.1416 , True , False , ["Rojo" , "Azul"] ]
print(cosas)
cosas.append("Lapiz")
cosas.append("Libro")
print(cosas)

#pop elimina de la lista y guarda el elemento removido
#pop elimina por defecto el último elemento de la lista 
algo = cosas.pop()
print(cosas)
print(algo)

#pop elimina el elemento seleccionado en el index "pop([index])"
algo = cosas.pop(2)
print(cosas)
print(algo)

#remove elimina el valor seleccionado dentro de una lista (en su primera aparición)
cosas.remove(True)
print(cosas)

#clear elimina todos los elementos de una lista
cosas.clear()
print(cosas)

#sort ordena los elemento de una lista
print(frutas)
frutas.sort()
print(frutas)

['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Lapiz', 'Libro']
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul'], 'Lapiz']
Libro
['cuaderno', 2, True, False, ['Rojo', 'Azul'], 'Lapiz']
3.1416
['cuaderno', 2, False, ['Rojo', 'Azul'], 'Lapiz']
[]
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']
['Aguacate', 'Fresa', 'Kiwi', 'Manzana', 'Naranja', 'Pera', 'Sandia']

In [37]:
#Slicing

cosas = [ "cuaderno" , 2 , 3.1416 , True , False , ["Rojo" , "Azul"] ]
print(cosas[3:5:1])
print(cosas)
#Slicing en un elemento especifico dentro de la lista
print(cosas[0][3:5:1])


numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
print(numeros[8:13:1])

#Sustituir rebanadas

numeros[8:13:] = [-2,-2] 
print(numeros)

#preguntar por existencia dentro de una lista
print(-2 in numeros)
print(100 in numeros)

[True, False]
['cuaderno', 2, 3.1416, True, False, ['Rojo', 'Azul']]
de
[9, 10, 11, 12, 13]
[1, 2, 3, 4, 5, 6, 7, 8, -2, -2, 14, 15]
True
False

#Listas multidimensión (listas dentro de listas)

In [51]:
computadoras = ["HP" , "Mac Book Pro 17" , "Mate Book" , "Lenovo Legion"]
oss = ["Windows 10" , "Linux" , "Android" , "IOS"]

computo = [computadoras , oss]
print(computo[0])
print(computo[1])
print(computo[0][2])
print(computo[0][2][0:5])
print(computo[0][3][5::-1])
print(computo[0][3][-8::-1])
print("Linux" in computo[1])

dbms = [ ["Mysql" , "Open source" , False] , ["MS SQL Server" , "de paga" , True] ]
computo.append(dbms)
print(computo)
print(computo[2][0][0])
print(computo[2][1][1])

['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion']
['Windows 10', 'Linux', 'Android', 'IOS']
Mate Book
Mate
ovoneL
ovoneL
True
[['HP', 'Mac Book Pro 17', 'Mate Book', 'Lenovo Legion'], ['Windows 10', 'Linux', 'Android', 'IOS'], [['Mysql', 'Open source', False], ['MS SQL Server', 'de paga', True]]]
Mysql
de paga